In [1]:
print("Hello, World!")

Hello, World!

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [5]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [13]:
x = 5
y = "Hello, World!"
print(x)
print(y)

5
Hello, World!

In [15]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [17]:
#This is a comment
print("Hello, World!") #This is also comment

Hello, World!

In [21]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [23]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [37]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [39]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [43]:
x = "John"
# is the same as
x = 'John'

In [51]:
a = 4
A = "Sally"
#A will not overwrite a
print(A)
print(a)

Sally
4

In [55]:
#legal var
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [57]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [59]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [61]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Outout variables

In [69]:
#Output var
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [65]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [67]:
x = 5
y = 10
print(x + y)

15

In [71]:
x = 5
y = "John"
print(x, y)

5 John

In [73]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [75]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [77]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [79]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [83]:
x = 5
print(type(x))

<class 'int'>

In [85]:
x = "Hello World"	#int	
x = 20.5	#float	
x = 1j	#complex	
x = ["apple", "banana", "cherry"]	#list	
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
x = {"name" : "John", "age" : 36}	#dict	
x = {"apple", "banana", "cherry"}	#set	
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
x = True	#bool	
x = b"Hello"	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview	
x = None

In [87]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [89]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [91]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [93]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [95]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [97]:
import random

print(random.randrange(1, 10))

7

In [99]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

strings

In [101]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [103]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [105]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [107]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Slicing

In [109]:
b = "Hello, World!"
print(b[2:5])

llo

In [111]:
b = "Hello, World!"
print(b[:5])

Hello

In [113]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [115]:
b = "Hello, World!"
print(b[-5:-2])

orl

Modify

In [117]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [119]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [121]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, world!

In [123]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [125]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Concatenation

In [127]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [129]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [131]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [133]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [135]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars